@import "tailwindcss";
@plugin "@tailwindcss/typography";
@plugin "tailwind-scrollbar-hide";

@custom-variant dark (&:where(.dark, .dark *));
@theme {
  /* Typography */
  --font-sans: Inter, sans-serif;
  --font-display: InterVariable, sans-serif;
  /* accent  */
  --color-accent-50: oklch(96.66% 0.015 282.03);
  --color-accent-100: oklch(92.42% 0.034 280.3);
  --color-accent-200: oklch(84.8% 0.07 279.45);
  --color-accent-300: oklch(78.09% 0.103 278.85);
  --color-accent-400: oklch(70.63% 0.141 275.9);
  --color-accent-500: oklch(63.08% 0.179 273.08);
  --color-accent-600: oklch(55.69% 0.219 268.34);
  --color-accent-700: oklch(48.24% 0.217 265.51);
  --color-accent-800: oklch(36.55% 0.164 265.51);
  --color-accent-900: oklch(25.83% 0.115 265.38);
  --color-accent-950: oklch(19.26% 0.088 265.29);
  /* base*/
  --color-base-50: oklch(0.985 0 0);
  --color-base-100: oklch(0.97 0 0);
  --color-base-200: oklch(0.922 0 0);
  --color-base-300: oklch(0.87 0 0);
  --color-base-400: oklch(0.708 0 0);
  --color-base-500: oklch(0.556 0 0);
  --color-base-600: oklch(0.439 0 0);
  --color-base-700: oklch(0.371 0 0);
  --color-base-800: oklch(0.269 0 0);
  --color-base-900: oklch(0.205 0 0);
  --color-base-950: oklch(0.145 0 0);
}
:root {
  /* Stylistic settings for Inter font*/
  font-family: Inter, sans-serif;
  /*-------- NUMBERS --------*/
  /* Tabular numbers */ font-feature-settings:
    "tnum" 1,
    /* Slashed zero */ "zero" 1,
    /* Alternate one */ "cv01" 1,
    /* Flat-top three */ "cv09" 1,
    /* Open four */ "cv02" 1,
    /* Open six */ "cv03" 1,
    /* Open nine */ "cv04" 1,
    /*-------- LETTERS --------*/
    /* Square punctuation */ "ss08" 1,
    /* Discretionary ligatures */ "dlig" 1,
    /* Simplified u */ "cv06" 1,
    /* Capital G with spur */ "cv10" 1,
    /* Single-story a */ "cv11" 1,
    /* Compact t */ "cv13" 1;
}
